<!-- home/views/inicio.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
</head>
<body>
    <h1>Bienvenido a la Página de Inicio</h1>
    <p>Este es el microservicio de inicio.</p>
</body>
</html>
